name: Deploy with Secrets

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Replace secrets in HTML
      run: |
        sed -i "s/TU_EMAIL_DE_PAYPAL/${{ secrets.PAYPAL_EMAIL }}/g" Donaci贸n/Donaci贸n.html
        sed -i "s/TU_MP_PUBLIC_KEY/${{ secrets.MP_PUBLIC_KEY }}/g" Donaci贸n/Donaci贸n.html
        
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
